include ../textInput/textInput

mixin sample({ title, id, sampleOptions, data})
    - function makeParameter({ title = "", type = "", data = [] })
        .sample__parameter
            em.sample__parameter-name= title
            .sample__parameter-value.js-sample__parameter-value
                case type
                    when "radio"
                        for radioItem in data
                            label
                                input(type="radio" value=radioItem.value name=radioItem.name)
                                = radioItem.label
                    when "checkbox"
                        input(type="checkbox")
                    default
                        +textInput
    .sample.js-sample(data-sampleOptions=sampleOptions)
        h1.sample__title= title
        .sample__body
            .sample__instance.js-sample__instance(id=id)
            form.sample__data
                for itemLevelOne in data
                    if itemLevelOne.type === "group"
                        fieldset.sample__group
                            legend.sample__group-legend= itemLevelOne.title
                            for itemLevelTwo in itemLevelOne.data
                                - makeParameter(itemLevelTwo)
                    else
                        - makeParameter(itemLevelOne)