include ../textInput/textInput

mixin sample(options = {})
    -
        const {title = "", id="", data = [
            {title: "step"},
            {title: "minLimit"},
            {title: "maxLimit"},
            {title: "sliderType", type: "radio", data: [{label: "Single", value: "single", name: "type"}, {label: "Range", value: "range", name: "type"}]},
            {title: "value"},
            {title: "minValue"},
            {title: "maxValue"},
            {title: "sliderRoots"},
            {title: "sliderDirection", type: "radio", data: [{label: "Horizontal", value: "horizontal", name: "direction"}, {label: "Vertical", value: "vertical", name: "direction"}]},
            {title: "sliderValueNoteDisplay", type: "checkbox"},
            {title: "sliderDivisionsCount"}
        ]} = options;
    .sample.js-sample
        h1.sample__title= title
        .sample__body
            .sample__instance.js-sample__instance(id=id)
            form.sample__data
                for item in data
                    .sample__parameter
                        em.sample__parameter-name= item.title
                        .sample__parameter-value.js-sample__parameter-value
                            case item.type
                                when "radio"
                                    for radioItem in item.data
                                        label
                                            input(type="radio" value=radioItem.value name=radioItem.name)
                                            = radioItem.label
                                when "checkbox"
                                    input(type="checkbox")
                                default
                                    +textInput